/*----------- banner.php styles ------------*/
.view {
	background: url("../img/background.jpg")no-repeat center center;
	background-size: cover;
}


/*----------- navigation.php styles ------------*/
.navbar {
	background-color: transparent;
}

.top-nav-collapse {
	background-color: #6a1b9a ;
}

@media only screen and (max-width: 768px) {
	.navbar {
		background-color: #6a1b9a ;
	}
}

#immedia-logo{
	width: 40%;
	margin: auto;
}
	 