/*----------- banner.php styles ------------*/
.view {
	background: url("../img/background.jpg")no-repeat center center;
	background-size: cover;
}


/*----------- navigation.php styles ------------*/
.navbar {
	background-color: #6a1b9a ;
}

.top-nav-collapse {
	background-color: #6a1b9a ;
}

@media only screen and (max-width: 768px) {
	.navbar {
		background-color: #6a1b9a ;
	}
}

#immedia-logo {
	width: 40%;
	margin: auto;
}

.navbar .dropdown-menu a:hover {
	color: #000 !important;
}
.navbar .dropdown-menu a:active {
	color: #000 !important;
}


/*----------- inputs styles ------------*/
.view input:focus:not([readonly]) {
	border-color: #6a1b9a;
	box-shadow: 0 1px 0 0 #6a1b9a;
	color: #fff;
}

.view input:not([readonly])+label {
	color: rgba(255, 255, 255, .65);
}

.view input:focus:not([readonly])+label {
	color: #fff;
}

#register-form input:focus:not([readonly]), #login-form input:focus:not([readonly])  {
	border-color: #6a1b9a;
	box-shadow: 0 1px 0 0 #6a1b9a;
	color: #000;
}

#register-form input:not([readonly])+label, #login-form input:not([readonly])+label {
	color: #000;
}

#register-form input:focus:not([readonly])+label, #login-form input:focus:not([readonly])+label {
	color: #6a1b9a;
}

/*----------- card styles ------------*/
.location-card {
	display: inline-block;
	margin: 15px;
	max-height: 600px;
	padding: 0px;
}